# Data Storytelling Mini Project

This notebook works with the "Effect of COVID19 on Trade" dataset, which can be found here: https://www.kaggle.com/kkhandekar/effects-of-covid19-on-trade

This dataset shows weekly updates on the trade between New Zealand and various countries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("covid19nztrade.csv.zip")

In [3]:
df

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
0,Exports,2015,31/01/2015,Saturday,1/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,1/02/2015,Sunday,2/02/2020,All,All,All,$,123000000,380000000
2,Exports,2015,2/02/2015,Monday,3/02/2020,All,All,All,$,176000000,556000000
3,Exports,2015,3/02/2015,Tuesday,4/02/2020,All,All,All,$,115000000,671000000
4,Exports,2015,4/02/2015,Wednesday,5/02/2020,All,All,All,$,74000000,746000000
...,...,...,...,...,...,...,...,...,...,...,...
46531,Reimports,2020,8/08/2020,Saturday,8/08/2020,All,All,All,$,0,105000000
46532,Reimports,2020,9/08/2020,Sunday,9/08/2020,All,All,All,$,0,105000000
46533,Reimports,2020,10/08/2020,Monday,10/08/2020,All,All,All,$,5000000,110000000
46534,Reimports,2020,11/08/2020,Tuesday,11/08/2020,All,All,All,$,1000000,110000000
46535,Reimports,2020,12/08/2020,Wednesday,12/08/2020,All,All,All,$,1000000,111000000

In [4]:
# some of the trade is measured in tonnes, we will isolate that which is measured in $
df_dollars = df[df['Measure'] == '$'].drop(columns='Measure')
df = df_dollars

In [5]:
# for simplicity's sake, let's focus only on how covid has affected NZ's exports
df_exports = df[df['Direction']=='Exports'].drop(columns='Direction')
df = df_exports
df

,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Value,Cumulative
0,2015,31/01/2015,Saturday,1/02/2020,All,All,All,257000000,257000000
1,2015,1/02/2015,Sunday,2/02/2020,All,All,All,123000000,380000000
2,2015,2/02/2015,Monday,3/02/2020,All,All,All,176000000,556000000
3,2015,3/02/2015,Tuesday,4/02/2020,All,All,All,115000000,671000000
4,2015,4/02/2015,Wednesday,5/02/2020,All,All,All,74000000,746000000
...,...,...,...,...,...,...,...,...,...
31399,2020,8/08/2020,Saturday,8/08/2020,All,Fruit,All,23000000,2883000000
31400,2020,9/08/2020,Sunday,9/08/2020,All,Fruit,All,27000000,2910000000
31401,2020,10/08/2020,Monday,10/08/2020,All,Fruit,All,10000000,2920000000
31402,2020,11/08/2020,Tuesday,11/08/2020,All,Fruit,All,1000000,2921000000
31403,2020,12/08/2020,Wednesday,12/08/2020,All,Fruit,All,24000000,2945000000